[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MPsychoR"]
	path = MPsychoR
	url = https://github.com/cran/MPsychoR
[submodule "REQS"]
	path = REQS
	url = https://github.com/cran/REQS
[submodule "RaschSampler"]
	path = RaschSampler
	url = https://github.com/cran/RaschSampler
[submodule "cfa"]
	path = cfa
	url = https://github.com/cran/cfa
[submodule "eRm"]
	path = eRm
	url = https://github.com/cran/eRm
[submodule "homals"]
	path = homals
	url = https://github.com/cran/homals
[submodule "mixPHM"]
	path = mixPHM
	url = https://github.com/cran/mixPHM
[submodule "semds"]
	path = semds
	url = https://github.com/cran/semds
[submodule "smacof"]
	path = smacof
	url = https://github.com/cran/smacof
